<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<footer style="width: 100%;clear: both; color: #999;">
    <table style="width: 100%">
        <tr>
            <td style="text-align: center; padding: 0 0 20px">
                {{ contact.address }}<br/>{{ contact.phone }}
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 0 0 20px">
                ¿Preguntas? Correo <a href="#" style="color: #999">{{ contact.email }}</a>
            </td>
        </tr>
    </table>
</footer>
</body>
</html>
