{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/default/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/default/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('css/default/style.css') }}">
{% endblock %}

{% block body %}
    <div class="middle-box text-center animated fadeInDown">
        <h1>200</h1>
        <h3 class="font-bold">HTTP OK</h3>
    </div>
{% endblock %}
